<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<!--
<ion-content padding>
  The world is your 11112
  <div *ngFor="let item of currentSSID">{{item}}</div>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.<br>


    <span [innerHTML]="batteryPercent"></span>
    &lt;!&ndash;<span [innerHTML]="currentSSID"></span>&ndash;&gt;

  &lt;!&ndash;{{currentSSID}}&ndash;&gt;

  </p>
</ion-content>
-->


<ion-content>
  <ion-card>
    <ion-card-content>

      <button ion-button icon-right (click)="cameraPic()">
        Take Picture <ion-icon name="camera"></ion-icon>
      </button>

      <img *ngIf="image"
           [src]="domSanitizer.bypassSecurityTrustUrl(image)" />

    </ion-card-content>
  </ion-card>
</ion-content>
